@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #808080;
  font-family: 'Manjari', sans-serif;
}

.header {
  list-style: none;
  display: flex;
}

header {
  width: 100%;
}

.back-btn {
  width: auto;
  height: auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 185px;
  width: 500px;
  margin-top: 40px;
}

main {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  position: relative;
}

.modify {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d2d2d266;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.vector {
  width: 20px;
  height: 20px;
}

.avatar {
  border-radius: 999px;
}

img {
  width: 50px;
  height: 50px;
}

.navbar {
  position: relative;
}

.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: absolute;
  top: 20px;
  left: 420px;
  transform: translate(-50%, -50%);
}

.name h1 {
  margin: 0;
  color: #074f63;
}

.name p {
  margin: 0;
}

.name {
  margin-left: 10px;
}

.hire-btn {
  background-color: #d93f1d;
  border-radius: 80px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 125px;
  height: 32px;
}

.section-1 {
  margin-top: 80px;
}

.hire-btn p {
  margin: 0;
}

.super-big-text {
  color: #074f63;
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

.big-text {
  color: #074f63;
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.hashtag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #8fadb5;
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 700;
  height: fit-content;
}

.hashtag-text {
  margin: 0;
  margin-top: 10px;
}

.gembucket-text {
  margin: 0;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.gembucket-site {
  display: inline-block;
}

.gembucket-link {
  color: #18c4ee;
}

.carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-img {
  width: 100%;
  height: 100%;
}

.slideshow-container {
  position: relative;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #f3f3f3;
  border-radius: 50%;
  padding: 0;
  border: #007893 solid 1px;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-sizing: border-box;
}

.dot:hover {
  padding: 4px;
}

.dots-container {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
}

.active {
  background-color: #717171;
}

.desc-item {
  padding: 5px 0;
}

.member-box {
  margin: 10px auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-container {
  position: relative;
  width: 215px;
  height: 215px;
  border: 1px solid #074f63;
  margin: 30px 10px;
}

.image-container img {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.image-container .text {
  position: absolute;
  top: 0%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #074f63;
  background-color: white;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.image-container .text.right {
  top: 85%;
  left: 64%;
  transform: rotate(90deg) translate(-50%, -50%);
  width: 120px;
}

.member-line {
  width: 0.8px;
  height: 216px;
  background-color: #074f63;
  position: absolute;
  top: 50%;
  left: 92.5%;
  transform: translate(-50%, -50%);
}

.big-feature-container {
  display: flex;
  flex-direction: column;
}

.feature-container {
  position: relative;
  margin: 50px 80px;
  height: fit-content;
}

.feature-img {
  height: 271px;
  width: 271px;
  border-radius: 2px;
}

.img-2 {
  position: block;
  height: 271px;
  width: 271px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(200%, -10%);
}

.feature-box-text {
  height: 34px;
  width: 385.1658630371094px;
  background: #074f6380;
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  font-style: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 62.5%;
  transform: translate(-50%, -50%);
}

.feature-box-text-2 {
  height: 34px;
  width: 385.1658630371094px;
  background: #074f6380;
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  font-style: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 47.9%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.feature-box-text-2 p {
  margin-top: 6px;
}

.feature-box-style-2 {
  height: 34px;
  width: 140px;
  background: #074f6380;
  line-height: 28px;
  position: absolute;
  top: 15%;
  left: 82.5%;
  transform: translate(-50%, -50%);
}
.feature-box-style {
  height: 34px;
  width: 140px;
  background: #074f6380;
  line-height: 28px;
  position: absolute;
  top: 20%;
  left: 27.8%;
  transform: translate(-50%, -50%);
}
.feature-box-line {
  height: 2px;
  width: 572px;
  background: #7da1ab;
  line-height: 28px;
  position: absolute;
  top: 75%;
  left: 49.8%;
  transform: translate(-50%, -50%);
}

.feature-box-text p {
  margin: 0;
  margin-top: 6px;
}

.feature-text-relative {
  position: relative;
}

.feature-text {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 270px;
  color: #808080;
  position: absolute;
  top: 33%;
  left: 65%;
  transform: translate(-50%, -50%);
  letter-spacing: 1.5px;
}

.feature-text-2 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 270px;
  color: #808080;
  position: absolute;
  top: 30%;
  left: 47%;
  transform: translate(-50%, -50%);
  letter-spacing: 1.5px;
}

.contact-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.email {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 372px;
  height: 168px;
  display: flex;
  flex-direction: column;
}

.svg {
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.email-box {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: baseline;
  align-items: center;
  padding: 5px;
}

.social-box {
  display: flex;
  align-items: center;
  border: #ccc solid 1px;
  margin-top: 10px;
  width: 372px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

.social-text {
  margin: 0;
}

footer {
  background: #007893;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  main {
    margin-left: 50px;
    margin-right: 50px;
  }

  .header-group {
    margin-left: 50px;
  }

  .personal {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 20px;
    margin-left: 50px;
  }

  .section-1 {
    margin-top: 0;
  }

  .feature-container {
    margin-left: 0;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-box-text {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: fit-content;
    padding: 2.5px 30px;
    margin-left: 30px;
  }

  .feature-box-text-2 {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: fit-content;
    padding: 2.5px 30px;
    margin-left: 30px;
  }

  .feature-text-relative {
    display: flex;
    position: -ms-page;
    align-items: center;
    font-weight: 600;
  }

  .feature-text {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: large;
  }

  .img-2 {
    position: relative;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    margin-left: 15px;
  }

  .feature-text-2 {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: large;
  }

  .feature-box-style {
    display: none;
  }
  .feature-box-style-2 {
    display: none;
  }

  .feature-box-line {
    display: none;
  }

  .member-box {
    width: 100%;
    justify-content: flex-start;
  }

  .image-container {
    width: 300px;
    height: 300px;
    margin-left: 0;
    margin-right: 65px;
  }

  .image-container .text {
    position: absolute;
    top: 0%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #074f63;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }

  .image-container .text.right {
    top: 85%;
    left: 66%;
    transform: rotate(90deg) translate(-50%, -50%);
    width: 160px;
    font-size: 20px;
    font-weight: normal;
  }

  .image-container img {
    width: 280px;
    height: 280px;
  }

  .member-line {
    height: 301px;
    left: 93%;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    height: 100px;
  }

  footer div {
    padding-top: 6px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .super-big-text {
    font-size: 38px;
  }

  .big-text {
    font-size: 30px;
  }

  .section-1 {
    margin-bottom: 100px;
  }

  .section-feature {
    margin-top: 100px;
  }

  main {
    margin-left: 25px;
    margin-right: 50px;
  }

  .header-group {
    margin-left: 0;
    width: 100%;
    justify-content: space-around;
  }

  .hashtag {
    font-size: 12px;
    gap: 4px;
  }

  .personal {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 20px;
    margin-left: 50px;
  }

  ul {
    margin-left: -25px;
    font-size: large;
    font-weight: bold;
  }

  .section-1 {
    margin-top: 0;
  }

  .feature-container {
    margin-left: 0;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-box-text {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: fit-content;
    padding: 2.5px 30px;
    margin-left: 30px;
    width: max-content;
  }

  .feature-box-text-2 {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: fit-content;
    padding: 2.5px 30px;
    margin-left: 30px;
    width: max-content;
  }

  .feature-text-relative {
    display: flex;
    position: -ms-page;
    align-items: center;
    flex-direction: column-reverse;
    font-weight: 600;
    margin-top: 25px;
    flex: 1;
    justify-content: center;
  }

  .feature-text {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 0;
    margin-left: 100px;
    margin-bottom: 0;
    width: 100%;
    font-size: large;
  }

  .img-2 {
    position: relative;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    margin-left: 15px;
  }

  .feature-text-2 {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 0;
    margin-left: 100px;
    margin-bottom: 0;
    width: 100%;
    font-size: large;
  }

  .feature-box-style {
    display: none;
  }
  .feature-box-style-2 {
    display: none;
  }

  .feature-box-line {
    display: none;
  }

  .member {
    margin-bottom: 100px;
  }

  .member-box {
    width: 110%;
    justify-content: flex-start;
  }

  .image-container {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }

  .image-container .text {
    position: absolute;
    top: 0%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #074f63;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }

  .image-container .text.right {
    top: 85%;
    left: 66%;
    transform: rotate(90deg) translate(-50%, -50%);
    width: 160px;
    font-size: 20px;
    font-weight: normal;
  }

  .image-container img {
    width: 280px;
    height: 280px;
  }

  .member-line {
    height: 301px;
    left: 93%;
  }

  .contact-box {
    flex-direction: column;
  }

  .email {
    width: 100%;
  }

  .social-box {
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 10px;
    height: 100px;
  }

  footer div {
    padding-top: 6px;
    font-size: 18px;
  }
}
